<div class="container">
    <div class="ui-g">
      <h2 class="page-title">CRMD-KAFKA UI - Controle de fila por tópico</h2>
    </div>
    <form #formPrincipal="ngForm" (ngSubmit)="salvar(formPrincipal)" name="frmMotivo">
      <div class="ui-g-12">
      <p-table [value]="topicoList" [paginator]=true [rows]="6" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 70px">Id</th>
                <th>Tópico</th>
                <th style="width: 150px">Tipo</th>
                <th style="width: 80px">Status</th>
                <th style="width: 100px">Hora Start</th>
                <th style="width: 100px">Hora Stop</th>
                <th style="width: 255px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-topico>
            <tr>
                <td>{{topico.id}}</td>
                <td>{{topico.topico}}</td>
                <td>{{topico.tipo}}</td>
                <td>{{topico.status}}</td>
                <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <p-inputMask mask="99:99" required name="horaStart" pInputText type="text" [(ngModel)]="topico.horaInicio"></p-inputMask>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{topico.horaInicio}}
                      </ng-template>
                    </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputMask mask="99:99" required name="horaStop" pInputText type="text" [(ngModel)]="topico.horaParada"></p-inputMask>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{topico.horaParada}}
                    </ng-template>
                  </p-cellEditor>
              </td>
               <td>
                  <button pButton type="button" label="Start" style="margin-right: 10px" class="ui-button-success" pTooltip="Iniciar tópico" tooltipPosition="top" (click)="StartServico(topico.id)" ></button>
                  <button pButton type="button" label="Stop" style="margin-right: 10px" class="ui-button-danger" pTooltip="Parar tópico" tooltipPosition="top" (click)="StopServico(topico.id)"></button>
                  <button pButton type="button" label="Histórico" class="ui-button-info" pTooltip="Histórico" tooltipPosition="top" (click)="HistoricoTopico(topico.id)"></button>
                </td>
            </tr>
        </ng-template>
      </p-table>
      </div>
      <div class="ui-g-12">
          <p-table  [responsive]="true">
              <ng-template pTemplate="header">
              <tr><td>Motivo das alterações</td></tr>
              <tr>
                <td>
                  <textarea name="motivo" [(ngModel)]="motivoMudanca"
                    rows="3"
                    cols="160"
                    required pInputTextarea
                    minlength="5" maxlength="200">
                  </textarea>
                </td>
              </tr>
              <tr>
                <td>
                    <button pButton *ngIf="clikSalvar" type="submit" label="Salvar"  [disabled]="!formPrincipal.valid" class="ui-button-success" pTooltip="Salva o motivo e atualiza status" tooltipPosition="bottom"></button>
                </td>
              </tr>
              <tr>
                <td align="center">
                    <p-progressSpinner *ngIf="progressBar" [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                </td>
              </tr>
            </ng-template>
          </p-table>
      </div>
    </form>
  </div>
  <router-outlet></router-outlet>
